.header practice-slide-show!!

.image-upload
  .image-upload__title ここに画像アップロードフォームを作成
  = form_with url: images_path, model: @image, loacl: true do |f|
    = f.label :image, class: 'aaaaaaa' do
      = icon 'fas', 'camera'
    = f.file_field :image
    = f.submit 'Upload'
  
  
.slide-show ここにスライドショーを作る

